<nav class="sidenav">
	<a href="/summary" id="brand-text" class="sidebar-title">Home Electricity Management System</a>
	<div class="sidenav-content">
		<a href="/summary">Summary</a>
		<a href="/household">Household</a>
		<a href="/history">History</a>
		<a href="/recommendations">Recommendations</a>
		<a href="/remotepm">Remote Power Management</a>
		<a href="/droneController">Drone Controller</a>
		<a href="/contact">Contact</a>
	</div>
	<div class="sidenav-logout">
		<a class="dropdown-item log-out-link nav-link" href="/logout">Logout</a>
	</div>
	<!--
	<div class="col-sm-2" id="navbarSupportedContent">
		<span class="navbar-text">
			<image src="resources\us_electric_socket-32.png" height="20" width="20" /> {{username}}
		</span>
		<span>
			<li class="nav-item dropdown navbar-dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<a class="dropdown-item log-out-link nav-link" href="/logout">Logout</a>
				</div>
			</li>
		</span>
	</div>
	-->
</nav>


<div class="container col-sm-12 container-section">
	<div class="container">
		<div class="row align-items-center justify-content-center container-content">
			Under Construction
		</div>
	</div>
</div>

<!-- Navbar scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
