<h3>Address</h3>
<p> Street: {{ this.address.Street }} </p>
<p> State: {{ this.address.State }} </p>
<p> Country: {{ this.address.Country }} </p>
<p> Zip: {{ this.address.Zip }} </p>
<hr />
<a href="/summary">Go to household summary</a>
