<nav class="navbar-login">
    <div class="navbar-content">
        <a href="/" class="navbar-brand" id="brand-text">TEST</a>
    </div>
</nav>

<div class="container col-sm-12 container-section">
    <div class="container">
        <div class="row align-items-center justify-content-center container-content">
            <div class="col-lg-6">
                <h3>Address</h3>
		<p> Street: {{ this.address.Street }} </p>
		<p> State: {{ this.address.State }} </p>
		<p> Country: {{ this.address.Country }} </p>
		<p> Zip: {{ this.address.Zip }} </p>
		<hr />
		<a href="/summary">Go to household summary</a>
	    </div>
        </div>
    </div>
</div>
