<nav class="navbar-login">
    <div class="navbar-content">
        <a href="/" class="navbar-brand" id="brand-text">TEST</a>
    </div>
</nav>

<div class="container col-sm-12 container-section">
<div class="container">
<div class="row align-items-center justify-content-center container-content">
<div class="col-lg-6">
	<table>
		<tr>
			<th>Lighting</th>
			<th>Climate Control</th>
			<th>Water Heater</th>
			<th>Appliances</th>
			<th>Electronics</th>
		</tr>

		<tr>
			<td>15%</td>
			<td>20%</td>
			<td>20%</td>
			<td>30%</td>
			<td>15%</td>
		</tr>
	</table>
</div>

<div class="col-lg-6">
	<img src="resources/static-sheet.png" />
</div>
</div>
</div>
</div>
