/*****************************
      Login Page Styles
*****************************/
.account-form-col {
    border: 0;
    width: 85%;
    margin: auto;
    margin-top: 15px;
}
.account-form-col input {
    margin: 5px;
}

.account-form-col button {
    margin: 10px;
}

.error-text {
    color: red;
}

/**************************************************************************
* Description: SIDE NAVBAR           
* Reference:   https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
**************************************************************************/

/* The sidebar menu */
.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 160px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

.sidebar-title {
	margin-bottom: 10vh;
}

/* The navigation menu links */
.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	color: #818181;
	display: block;
}

.sidenav-content {
	top: 50vh;
}

.sidenav-content a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 300;
	color: white;
	display: block;
}

.sidenav-logout {
	bottom: 0;
	position: relative;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	color: #f1f1f1;
}

/* Style page content */
.main {
	margin-left: 160px; /* Same as the width of the sidebar */
	padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}

	.sidenav a {
		font-size: 18px;
	}
}

/*****************************
            NAVBAR           
*****************************/

.navbar {
	top: 0;
	border: none;
	margin: 0;
	padding: 0;
	background: #485167;
	display: flex;
	justify-content: center;
}

.navbar-login {
	top: 0;
	border: none;
	margin: 0;
	padding: 0;
	background: #485167;
	position: relative;
	display: flex;
	justify-content: center;
	height: 6vh;
}

.navbar a:hover {
	color: white;
}

.navbar-content {
	width: 55%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand {
	color: white;
	font-size: 2em;
	font-weight: bolder;
	font-family: "Mina", "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.navbar-brand-home {
	color: white;
	font-size: 1em;
	font-weight: bolder;
	font-family: "Mina", "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.navbar-text {
	color: white;
	float: left;
}

.navbar-dropdown {
	color: black;
	list-style: none;
	display: inline;
	float: left;
}

.dropdown-toggle {
	color: white;
}

.dropdown-menu a:hover {
   background-color: #3b5998 !important;
}

#login-form input {
	background: #f9f8de;
}

#login-form button {
	border-radius: 5px;
	height: 30px;
	text-align: center;
	vertical-align: top;
	line-height: 0;
	background: #2f55a4;
	border: 1px solid #cccccc;
}

/*****************************
      Login Page Content
*****************************/

.container-section {
	background-image: linear-gradient(#cccccc, #ffffff);
}

.container-content {
	padding: 100px 0 100px 0;
	display: flex;
	height: 100%;
}

.btn-create {
	background-image: linear-gradient(#57c68b, #309660);
}

#login-img {
	border-radius: 10px;
    width: 100%;
}

/*****************************
         Page Footer
*****************************/

.footer
{
	height: 2.5vh;
	font-size: 1.35vh;
	width: 100%;
	background-color: #485167;
	color: white;
	text-align: center;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
}

/*****************************
      HOME PAGE STYLES
*****************************/

/* table and scroll */

.scroll {
    overflow-y: scroll;
    max-height: 475px;
    border: 1px solid #cccccc;
    padding: 2px;
    margin: 2px
    
}

.stock-table {
    margin: 0px auto;
    width: 100%;
	font-family: "Mina", "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.stock-table tr:nth-child(odd){
    background-color: #eee;
    
}

table, tr, th, td {
    border: 0;
    border-collapse: collapse;
    font-size: .8rem;
    text-align: center;
}

th, td {
    padding: 3px;
    //height: auto;
}


/*****************************
     Watchlist/Portfolio
*****************************/

#watchlist-col {
	border-left: 1px solid black;
}

.watchlist {
	border-bottom: 1 px solid black;
	padding-bottom: 5px;
	width:100%
}

#portfolio-col {
	border-top: 4px solid #eeeeee;
	border-right: 2px solid #eeeeee;
	border-bottom: 4px solid #eeeeee;
	border-left: 4px solid #eeeeee;
	padding: 10px;
}

#watchlist-col {
	border-top: 4px solid #eeeeee;
	border-right: 4px solid #eeeeee;
	border-bottom: 4px solid #eeeeee;
	border-left: 2px solid #eeeeee;
	padding: 10px;
}

.table-header {
	background-color: #eeeeee;
	padding: 1px 5px 1px 5px;
	color: #333333;
	height: auto;
	overflow: auto;
}

.table-header form {
   display: inline;
}

.table-header-title {
	font-weight: bolder;
	float: left;
	height: 33px;
	vertical-align: middle;
	padding-top: 3px;
}

.table-header-contents {
	float: right;
}

.portfolio-buttons {
	display: inline;
}

.home-content {
}

.portfolio-form {
	display: inline;
	float: right;
}

#update-quantity {
	width: 70px;
}

/*****************************
        Whole Website
*****************************/

.font-black {
	color: black;
}

.font-red {
	color: red;
}

.font-green {
	color: green;
}

#popup {
	display: none !important;
}

/* Forms */
input[type=number] {
    width: 60px;
}

hr {
	margin-top: 0;
	margin-bottom: 0.5rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
::-webkit-scrollbar-button {
    background: #ccc;
}
::-webkit-scrollbar-track-piece {
    background: #888;
}
::-webkit-scrollbar-thumb {
    background: #eee;
}

button {
	height: 1.5em;
	line-height: 0 !important;
	padding: 0;
}


label {
	vertical-align: middle !important;
	height: 1.5em !important;
}

input {
	vertical-align: middle !important;
	height: 1.5em !important;
}

form {
	vertical-align: middle !important;
}

hr {
	visibility: hidden;
}